    <footer class="bg-dark text-light text-center py-3 mt-5">
      <div class="container">
        <p>&copy; <%= Date.current.year %> Netmovies. <%= t('footer.all_rights_reserved') %></p>
      </div>
    </footer>